# Pandas基础
* pandas是基于numpy的库，做数据预处理常用
* numpy的核心结构：ndarry，pandas的核心结构：dataframe

In [2]:
import pandas

## 数据读取
主要读取的是csv文件

In [11]:
# 将数据从csv读到变量
food_info = pandas.read_csv("food_info.csv")
# print(food_info)

### 基本常识
#### pandas的核心结构-DataFrame

In [6]:
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

#### 查看变量的数据类型
使用`*.dtypes`进行查看

前三种类型常用：
* 整型：int64
* 浮点型：float64
* 字符型：object
* 时间值：datatime
* 布尔值：bool

In [7]:
print(food_info.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

#### 查看pandas函数的帮助

In [8]:
print(help(pandas.read_csv))

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

None

### 读取数据
#### 读取前几行数据
* 括号里如果为空，则取默认前5行
* 括号里写多少，最终就显示前几行

In [13]:
food_info.head(8)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,1054.0,271.0,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0

#### 显示末尾几行数据

In [16]:
food_info.tail(3)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8615,90480,SYRUP CANE,26.0,269,0.0,0.0,0.86,73.14,0.0,73.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.2,90,16.1,1.4,1.30,2.00,0.0,0.0,...,100.0,30.0,5.0,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.5,89,19.8,0.5,1.20,0.00,0.0,0.0,...,100.0,30.0,0.5,0.0,0.0,0.1,0.127,0.088,0.170,50.0

#### 显示列名/表头/特征

In [17]:
print(food_info.columns)

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

#### 查看dataframe的维度/形状
显示多少行，多少列

In [18]:
print(food_info.shape)

(8618, 36)

### 按行取数据
用`loc[n]`做索引

#### 取出第一条数据

In [22]:
print(food_info.loc[0])

NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object

#### 用切片取出一段连续的数据

In [24]:
# 取第5条-第8条数据
food_info.loc[4:7]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,1054.0,271.0,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0

#### 任意取出几条某行数据
传入相应的index即可

In [28]:
# 取出第3、6、11条数据
two_five_ten = [2, 5, 10]
food_info.loc[two_five_ten]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

### 按列取数据

#### 通过列名来取一列的数据

In [31]:
ndb_col = food_info["NDB_No"]
print(ndb_col)

0        1001
1        1002
2        1003
3        1004
4        1005
5        1006
6        1007
7        1008
8        1009
9        1010
10       1011
11       1012
12       1013
13       1014
14       1015
15       1016
16       1017
17       1018
18       1019
19       1020
20       1021
21       1022
22       1023
23       1024
24       1025
25       1026
26       1027
27       1028
28       1029
29       1030
        ...
8588    43544
8589    43546
8590    43550
8591    43566
8592    43570
8593    43572
8594    43585
8595    43589
8596    43595
8597    43597
8598    43598
8599    44005
8600    44018
8601    44048
8602    44055
8603    44061
8604    44074
8605    44110
8606    44158
8607    44203
8608    44258
8609    44259
8610    44260
8611    48052
8612    80200
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

#### 将列名组成List传参，取出两列

In [39]:
columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]
print(zinc_copper)

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
5          2.38        0.019
6          2.38        0.021
7          2.94        0.024
8          3.43        0.056
9          2.79        0.042
10         3.07        0.042
11         0.40        0.029
12         0.33        0.040
13         0.47        0.030
14         0.51        0.033
15         0.38        0.028
16         0.51        0.019
17         3.75        0.036
18         2.88        0.032
19         3.50        0.025
20         1.14        0.080
21         3.90        0.036
22         3.90        0.032
23         2.10        0.021
24         3.00        0.032
25         2.92        0.011
26         2.46        0.022
27         2.76        0.025
28         3.61        0.034
29         2.81        0.031
...         ...          ...
8588       3.30        0.377
8589       0.05        0.040
8590       0.05        0.030
8591       1.15        0.116
8592       5.03        0.200
8593       3.83        0.545
8594       0.08        0.035
8595       3.90        0.027
8596       4.10        0.100
8597       3.13        0.027
8598       0.13        0.000
8599       0.02        0.000
8600       0.09        0.037
8601       0.21        0.026
8602       2.77        0.571
8603       0.41        0.838
8604       0.05        0.028
8605       0.03        0.023
8606       0.10        0.112
8607       0.02        0.020
8608       1.49        0.854
8609       0.19        0.040
8610       0.10        0.038
8611       0.85        0.182
8612       1.00        0.250
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]

#### 取出指定结尾的列名

In [45]:
# 查看列名中哪些以(g)为结尾

# 将所有列名变为list存起来
col_names = food_info.columns.tolist()
# print(col_names)

# 寻找以g为结尾的列名
gram_columns = []
for c in col_names:
    if c.endswith("(g)"):
        gram_columns.append(c)

# 将搜集的列名数组打印&提取数据
print(gram_columns)
gram_df = food_info[gram_columns]
print(gram_df.head(3))

['Water_(g)', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)']
   Water_(g)  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0      15.87         0.85          81.11     2.11            0.06
1      15.87         0.85          81.11     2.11            0.06
2       0.24         0.28          99.48     0.00            0.00

   Fiber_TD_(g)  Sugar_Tot_(g)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)
0           0.0           0.06      51.368       21.021        3.043
1           0.0           0.06      50.489       23.426        3.012
2           0.0           0.00      61.924       28.732        3.694

## pandas数据操作

### pandas四则
#### pandas乘法
##### 1.对dataframe整体乘同一个数
* 将以mg为结尾的数据转换成以g为结尾的数据  
对numpy和pandas加减乘除一个数，相当于对其中所有数都进行加减乘除操作
* 基本原则：能够在位置上产生对应即可

In [47]:
# 以mg为结尾
print(food_info["Iron_(mg)"])

# 单位换算
div_1000 = food_info["Iron_(mg)"] / 1000
print(div_1000)

0        0.02
1        0.16
2        0.00
3        0.31
4        0.43
5        0.50
6        0.33
7        0.64
8        0.16
9        0.21
10       0.76
11       0.07
12       0.16
13       0.15
14       0.13
15       0.14
16       0.38
17       0.44
18       0.65
19       0.23
20       0.52
21       0.24
22       0.17
23       0.13
24       0.72
25       0.44
26       0.20
27       0.22
28       0.23
29       0.41
        ...
8588     9.00
8589     0.30
8590     0.10
8591     1.63
8592    34.82
8593     2.28
8594     0.17
8595     0.17
8596     4.86
8597     0.25
8598     0.23
8599     0.13
8600     0.11
8601     0.68
8602     7.83
8603     3.11
8604     0.30
8605     0.18
8606     0.80
8607     0.04
8608     3.87
8609     0.05
8610     0.38
8611     5.20
8612     1.50
8613     1.40
8614     0.58
8615     3.60
8616     3.50
8617     1.40
Name: Iron_(mg), Length: 8618, dtype: float64
0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
5       0.00050
6       0.00033
7       0.00064
8       0.00016
9       0.00021
10      0.00076
11      0.00007
12      0.00016
13      0.00015
14      0.00013
15      0.00014
16      0.00038
17      0.00044
18      0.00065
19      0.00023
20      0.00052
21      0.00024
22      0.00017
23      0.00013
24      0.00072
25      0.00044
26      0.00020
27      0.00022
28      0.00023
29      0.00041
         ...
8588    0.00900
8589    0.00030
8590    0.00010
8591    0.00163
8592    0.03482
8593    0.00228
8594    0.00017
8595    0.00017
8596    0.00486
8597    0.00025
8598    0.00023
8599    0.00013
8600    0.00011
8601    0.00068
8602    0.00783
8603    0.00311
8604    0.00030
8605    0.00018
8606    0.00080
8607    0.00004
8608    0.00387
8609    0.00005
8610    0.00038
8611    0.00520
8612    0.00150
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64

##### 2.两个维度相同的dataframe对应位置相乘

In [54]:
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
# print(water_energy)

#### 新增属性，扩增维度
前提：保证维度相同  
`food_info(new_column_name) = new_variable`

In [61]:
print(food_info.shape)
food_info["Water_Energ(g)"] = water_energy
print(food_info.shape)
del food_info["Water_Energ(g)"]

(8618, 36)
(8618, 37)

#### 基本统计操作
* 最大值
* 最小值
* 均值

In [67]:
# 最大值
print(food_info["Protein_(g)"].max())

# 最小值
print(food_info["Protein_(g)"].min())

# 均值
print(food_info["Protein_(g)"].mean())

88.32
0.0
11.523910420051127

In [68]:
# 最大值应用
normalized_protein = food_info["Protein_(g)"] / food_info["Protein_(g)"].max()
# print(normalized_protein)

### pandas排序
注意：
* `inplace`属性：
    * 当`inplace=True`时，是在原位置进行排序
    * 当`inplace=False`时，是新扩增了一列记录排序结果
* `ascending`属性：
    * 默认为True
    * 当设置`ascending=False`时，会进行降序排列

In [71]:
# 默认按照从小到大的升序方式排列
food_info.sort_values("Sodium_(mg)", inplace=True)
# print(food_info["Sodium_(mg)"])

# 降序排列
food_info.sort_values("Sodium_(mg)", inplace=True, ascending=False)
print(food_info["Sodium_(mg)"])

276     38758.0
5814    27360.0
6192    26050.0
1242    26000.0
1245    24000.0
1243    24000.0
1244    23875.0
292     17000.0
1254    11588.0
5811    10600.0
8575     9690.0
291      8068.0
1249     8031.0
5812     7893.0
1292     7851.0
293      7203.0
4472     7027.0
4836     6820.0
1261     6580.0
3747     6008.0
1266     5730.0
4835     5586.0
4834     5493.0
1263     5356.0
1553     5203.0
1552     5053.0
1251     4957.0
1257     4843.0
294      4616.0
8613     4450.0
         ...
8153        NaN
8155        NaN
8156        NaN
8157        NaN
8158        NaN
8159        NaN
8160        NaN
8161        NaN
8163        NaN
8164        NaN
8165        NaN
8167        NaN
8169        NaN
8170        NaN
8172        NaN
8173        NaN
8174        NaN
8175        NaN
8176        NaN
8177        NaN
8178        NaN
8179        NaN
8180        NaN
8181        NaN
8183        NaN
8184        NaN
8185        NaN
8195        NaN
8251        NaN
8267        NaN
Name: Sodium_(mg), Length: 8618, dtype: float64

# 实战案例

## 泰坦尼克号船员获救数据

In [114]:
import pandas as pd
import numpy as np

titanic_survival = pd.read_csv("titanic_train.csv")
titanic_survival.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 数据缺失值寻找

#### 用切片法取年龄

In [82]:
age = titanic_survival["Age"]
print(age.loc[0:10])

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64

#### 判断是否为缺失值

In [83]:
age_is_null = pd.isnull(age)
print(age_is_null)

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19      True
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28      True
29      True
       ...
861    False
862    False
863     True
864    False
865    False
866    False
867    False
868     True
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878     True
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

#### 找出age中的缺失值及其序号

In [84]:
age_null_true = age[age_is_null]
print(age_null_true)

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
29    NaN
31    NaN
32    NaN
36    NaN
42    NaN
45    NaN
46    NaN
47    NaN
48    NaN
55    NaN
64    NaN
65    NaN
76    NaN
77    NaN
82    NaN
87    NaN
95    NaN
101   NaN
107   NaN
109   NaN
121   NaN
126   NaN
128   NaN
140   NaN
154   NaN
       ..
718   NaN
727   NaN
732   NaN
738   NaN
739   NaN
740   NaN
760   NaN
766   NaN
768   NaN
773   NaN
776   NaN
778   NaN
783   NaN
790   NaN
792   NaN
793   NaN
815   NaN
825   NaN
826   NaN
828   NaN
832   NaN
837   NaN
839   NaN
846   NaN
849   NaN
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

#### 找出age缺失值的个数

In [85]:
age_null_count = len(age_null_true)
print(age_null_count)

177

### 数据缺失值处理
* 为什么处理？因为不处理的话统计平均值会显示NAN
* 处理缺失值方法（很少直接去掉）  
  为保持其为完整样本，一般用以下值进行填充：
    * 年龄均值
    * 年龄中位数
    * 年龄众数

In [89]:
mean_age = sum(titanic_survival["Age"]) / len(titanic_survival["Age"])
print(mean_age)

# 在求和时会出现问题
print(len(titanic_survival["Age"]))
print(sum(titanic_survival["Age"]))

nan
891
nan

#### 填充缺失值
`fill_na`

#### 去掉缺失值
`drop_na`：如果当前列(Age,Sex)有缺失值，那我直接把有缺失值的这一行样本去掉

In [109]:
# 如果某行有缺失值，就将有缺失值的字段/列去掉
drop_na_columns = titanic_survival.dropna(axis=1)
# print(drop_na_columns)

# 检查如果某个字段有缺失值，则将缺失值所在行去掉
new_titanic_survival = titanic_survival.dropna(axis=0, subset=["Age", "Sex"])
print(new_titanic_survival)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
18            19         0       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
27            28         0       1
30            31         0       1
33            34         0       2
34            35         0       1
35            36         0       1
37            38         0       3
38            39         0       3
..           ...       ...     ...
856          857         1       1
857          858         1       1
858          859         1       3
860          861         0       3
861          862         0       2
862          863         1       1
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
27                      Fortune, Mr. Charles Alexander    male  19.0      3
30                            Uruchurtu, Don. Manuel E    male  40.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
34                             Meyer, Mr. Edgar Joseph    male  28.0      1
35                      Holverson, Mr. Alexander Oskar    male  42.0      1
37                            Cann, Mr. Ernest Charles    male  21.0      0
38                  Vander Planke, Miss. Augusta Maria  female  18.0      2
..                                                 ...     ...   ...    ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
857                             Daly, Mr. Peter Denis     male  51.0      0
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.0      0
860                            Hansen, Mr. Claus Peter    male  41.0      2
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
18       0            345763   18.0000          NaN        S
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
27       2             19950  263.0000  C23 C25 C27        S
30       0          PC 17601   27.7208          NaN        C
33       0        C.A. 24579   10.5000          NaN        S
34       0          PC 17604   82.1708          NaN        C
35       0            113789   52.0000          NaN        S
37       0        A./5. 2152    8.0500          NaN        S
38       0            345764   18.0000          NaN        S
..     ...               ...       ...          ...      ...
856      1             36928  164.8667          NaN        S
857      0            113055   26.5500          E17        S
858      3              2666   19.2583          NaN        C
860      0            350026   14.1083          NaN        S
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[714 rows x 12 columns]

#### 去掉缺失值求平均

##### 1.手动处理求平均

In [91]:
# 利用索引取出非缺失值项
good_ages = titanic_survival["Age"][age_is_null == False]

# 将筛选余下的项目求平均
mean_age_afterdel = sum(good_ages) / len(good_ages)

# 打印均值
print(mean_age_afterdel)

29.69911764705882

##### 2.pandas求平均
pandas会自动去掉缺失值以取平均

In [92]:
mean_age_pandas = titanic_survival["Age"].mean()
print(mean_age_pandas)

29.69911764705882

### Task：求1～3等仓船票价格

In [96]:
# 试验田
print(titanic_survival[titanic_survival["Pclass"] == 1])

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
11            12         1       1
23            24         1       1
27            28         0       1
30            31         0       1
31            32         1       1
34            35         0       1
35            36         0       1
52            53         1       1
54            55         0       1
55            56         1       1
61            62         1       1
62            63         0       1
64            65         0       1
83            84         0       1
88            89         1       1
92            93         0       1
96            97         0       1
97            98         1       1
102          103         0       1
110          111         0       1
118          119         0       1
124          125         0       1
136          137         1       1
137          138         0       1
139          140         0       1
151          152         1       1
155          156         0       1
..           ...       ...     ...
763          764         1       1
765          766         1       1
766          767         0       1
779          780         1       1
781          782         1       1
782          783         0       1
789          790         0       1
793          794         0       1
796          797         1       1
802          803         1       1
806          807         0       1
809          810         1       1
815          816         0       1
820          821         1       1
822          823         0       1
829          830         1       1
835          836         1       1
839          840         1       1
842          843         1       1
849          850         1       1
853          854         1       1
856          857         1       1
857          858         1       1
862          863         1       1
867          868         0       1
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
30                            Uruchurtu, Don. Manuel E    male  40.0      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
34                             Meyer, Mr. Edgar Joseph    male  28.0      1
35                      Holverson, Mr. Alexander Oskar    male  42.0      1
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
54                      Ostby, Mr. Engelhart Cornelius    male  65.0      0
55                                   Woolner, Mr. Hugh    male   NaN      0
61                                 Icard, Miss. Amelie  female  38.0      0
62                         Harris, Mr. Henry Birkhardt    male  45.0      1
64                               Stewart, Mr. Albert A    male   NaN      0
83                             Carrau, Mr. Francisco M    male  28.0      0
88                          Fortune, Miss. Mabel Helen  female  23.0      3
92                         Chaffee, Mr. Herbert Fuller    male  46.0      1
96                           Goldschmidt, Mr. George B    male  71.0      0
97                     Greenfield, Mr. William Bertram    male  23.0      0
102                          White, Mr. Richard Frasar    male  21.0      0
110                     Porter, Mr. Walter Chamberlain    male  47.0      0
118                           Baxter, Mr. Quigg Edmond    male  24.0      0
124                        White, Mr. Percival Wayland    male  54.0      0
136                       Newsom, Miss. Helen Monypeny  female  19.0      0
137                        Futrelle, Mr. Jacques Heath    male  37.0      1
139                                 Giglio, Mr. Victor    male  24.0      0
151                  Pears, Mrs. Thomas (Edith Wearne)  female  22.0      1
155                        Williams, Mr. Charles Duane    male  51.0      0
..                                                 ...     ...   ...    ...
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.0      1
765               Hogeboom, Mrs. John C (Anna Andrews)  female  51.0      1
766                          Brewe, Dr. Arthur Jackson    male   NaN      0
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0
781          Dick, Mrs. Albert Adrian (Vera Gillespie)  female  17.0      1
782                             Long, Mr. Milton Clyde    male  29.0      0
789                           Guggenheim, Mr. Benjamin    male  46.0      0
793                           Hoyt, Mr. William Fisher    male   NaN      0
796                        Leader, Dr. Alice (Farnham)  female  49.0      0
802                Carter, Master. William Thornton II    male  11.0      1
806                             Andrews, Mr. Thomas Jr    male  39.0      0
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.0      1
815                                   Fry, Mr. Richard    male   NaN      0
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1
822                    Reuchlin, Jonkheer. John George    male  38.0      0
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
835                        Compton, Miss. Sara Rebecca  female  39.0      1
839                               Marechal, Mr. Pierre    male   NaN      0
842                            Serepeca, Miss. Augusta  female  30.0      0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1
853                          Lines, Miss. Mary Conover  female  16.0      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
867               Roebling, Mr. Washington Augustus II    male  31.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch       Ticket      Fare        Cabin Embarked
1        0     PC 17599   71.2833          C85        C
3        0       113803   53.1000         C123        S
6        0        17463   51.8625          E46        S
11       0       113783   26.5500         C103        S
23       0       113788   35.5000           A6        S
27       2        19950  263.0000  C23 C25 C27        S
30       0     PC 17601   27.7208          NaN        C
31       0     PC 17569  146.5208          B78        C
34       0     PC 17604   82.1708          NaN        C
35       0       113789   52.0000          NaN        S
52       0     PC 17572   76.7292          D33        C
54       1       113509   61.9792          B30        C
55       0        19947   35.5000          C52        S
61       0       113572   80.0000          B28      NaN
62       0        36973   83.4750          C83        S
64       0     PC 17605   27.7208          NaN        C
83       0       113059   47.1000          NaN        S
88       2        19950  263.0000  C23 C25 C27        S
92       0  W.E.P. 5734   61.1750          E31        S
96       0     PC 17754   34.6542           A5        C
97       1     PC 17759   63.3583      D10 D12        C
102      1        35281   77.2875          D26        S
110      0       110465   52.0000         C110        S
118      1     PC 17558  247.5208      B58 B60        C
124      1        35281   77.2875          D26        S
136      2        11752   26.2833          D47        S
137      0       113803   53.1000         C123        S
139      0     PC 17593   79.2000          B86        C
151      0       113776   66.6000           C2        S
155      1     PC 17597   61.3792          NaN        C
..     ...          ...       ...          ...      ...
763      2       113760  120.0000      B96 B98        S
765      0        13502   77.9583          D11        S
766      0       112379   39.6000          NaN        C
779      1        24160  211.3375           B3        S
781      0        17474   57.0000          B20        S
782      0       113501   30.0000           D6        S
789      0     PC 17593   79.2000      B82 B84        C
793      0     PC 17600   30.6958          NaN        C
796      0        17465   25.9292          D17        S
802      2       113760  120.0000      B96 B98        S
806      0       112050    0.0000          A36        S
809      0       113806   53.1000           E8        S
815      0       112058    0.0000         B102        S
820      1        12749   93.5000          B69        S
822      0        19972    0.0000          NaN        S
829      0       113572   80.0000          B28      NaN
835      1     PC 17756   83.1583          E49        C
839      0        11774   29.7000          C47        C
842      0       113798   31.0000          NaN        C
849      0        17453   89.1042          C92        C
853      1     PC 17592   39.4000          D28        S
856      1        36928  164.8667          NaN        S
857      0       113055   26.5500          E17        S
862      0        17466   25.9292          D17        S
867      0     PC 17590   50.4958          A24        S
871      1        11751   52.5542          D35        S
872      0          695    5.0000  B51 B53 B55        S
879      1        11767   83.1583          C50        C
887      0       112053   30.0000          B42        S
889      0       111369   30.0000         C148        C

[216 rows x 12 columns]

##### 1.手动统计船舱对应的票价均值

In [97]:
passenger_classes = [1, 2, 3]
# 构造一个字典，以求船舱对应等船票价格
fares_by_class = {}

for this_class in passenger_classes:
    # 取出相应仓位的整体数据
    pclass_rows = titanic_survival[titanic_survival["Pclass"] == this_class]

    # 取出相应仓位的价格数据，定义到Fare列
    pclass_fares = pclass_rows["Fare"]

    # 求仓位的平均价格
    fare_for_class = pclass_fares.mean()

    # 将仓位和平均价格写成 key:value 的形式，存入字典fares_by_class = {}
    fares_by_class[this_class] = fare_for_class

print(fares_by_class)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

##### 2.pandas自动统计船舱对应的票价均值
`pivot_table`：数据透视表，统计多个量之间关系的函数
* 查看各个仓位平均获救多少人

In [104]:
passenger_survival = titanic_survival.pivot_table(index="Pclass", values="Survived", aggfunc=np.mean)
print(passenger_survival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

* 查看各个仓位平均票价

In [99]:
average_price = titanic_survival.pivot_table(index="Pclass", values="Fare", aggfunc=np.mean)
print(average_price)

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

* 统计各个船舱乘客的平均年龄

In [102]:
# aggfunc是统计功能函数，如果不指明，默认的参数是np.mean，当然也可以设置为np.sum
passenger_age = titanic_survival.pivot_table(index="Pclass", values="Age")
print(passenger_age)

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [106]:
# print(help(pandas.pivot_table))

* 查看登船**码头地点**与**总票价、总生存人数**的关系

In [105]:
port_stats = titanic_survival.pivot_table(index="Embarked", values=["Fare","Survived"], aggfunc=np.sum)
print(port_stats)

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

### 访问dataframe的一个具体值

In [112]:
# 访问第83行的年龄字段
row_index_83_age = titanic_survival.loc[83, "Age"]
print(row_index_83_age)

# 访问第766行的船票字段
row_index_766_pclass = titanic_survival.loc[766, "Pclass"]
print(row_index_766_pclass)

28.0
1

### 将排序后的index值重新排序
将原来混乱的排序，从0开始重新排序

In [117]:
new_titanic_survival = titanic_survival.sort_values("Age", ascending=False)
print(new_titanic_survival[0:10])

print('\n')
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
print(titanic_reindexed.loc[0:10])

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q


    PassengerId  Survived  Pclass                                  Name   Sex  \
0           631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1           852         0       3                   Svensson, Mr. Johan  male
2           494         0       1               Artagaveytia, Mr. Ramon  male
3            97         0       1             Goldschmidt, Mr. George B  male
4           117         0       3                  Connors, Mr. Patrick  male
5           673         0       2           Mitchell, Mr. Henry Michael  male
6           746         0       1          Crosby, Capt. Edward Gifford  male
7            34         0       2                 Wheadon, Mr. Edward H  male
8            55         0       1        Ostby, Mr. Engelhart Cornelius  male
9           281         0       3                      Duane, Mr. Frank  male
10          457         0       1             Millet, Mr. Francis Davis  male

     Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0   80.0      0      0       27042  30.0000   A23        S
1   74.0      0      0      347060   7.7750   NaN        S
2   71.0      0      0    PC 17609  49.5042   NaN        C
3   71.0      0      0    PC 17754  34.6542    A5        C
4   70.5      0      0      370369   7.7500   NaN        Q
5   70.0      0      0  C.A. 24580  10.5000   NaN        S
6   70.0      1      1   WE/P 5735  71.0000   B22        S
7   66.0      0      0  C.A. 24579  10.5000   NaN        S
8   65.0      0      1      113509  61.9792   B30        C
9   65.0      0      0      336439   7.7500   NaN        Q
10  65.0      0      0       13509  26.5500   E38        S

### pandas自定义&调用函数
* 自定义函数的时候可以使用pandas的属性，如`loc[n]`
* 调用函数的时候使用`pandas_item.apply(pandas_function)`

#### 调用前100个值

In [119]:
def hundredth_row(column):
    hundredth_item = column.loc[99]
    return hundredth_item

hundredth_row = titanic_survival.apply(hundredth_row)
print(hundredth_row)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

#### 计算每个字段缺失值的个数

In [120]:
def not_null_count(column):
    column_null = pd.isnull(column)
    null = column[column_null]
    return len(null)

column_null_count = titanic_survival.apply(not_null_count)
print(column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### 将每个数据的船舱等级数字变为等级名

In [128]:
def which_class(row):
    pclass = row["Pclass"]
    if pd.isnull(pclass):
        return "Unknown"
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    elif pclass == 3:
        return "Third Class"

classes = titanic_survival.apply(which_class, axis=1)
print(classes)

0       Third Class
1       First Class
2       Third Class
3       First Class
4       Third Class
5       Third Class
6       First Class
7       Third Class
8       Third Class
9      Second Class
10      Third Class
11      First Class
12      Third Class
13      Third Class
14      Third Class
15     Second Class
16      Third Class
17     Second Class
18      Third Class
19      Third Class
20     Second Class
21     Second Class
22      Third Class
23      First Class
24      Third Class
25      Third Class
26      Third Class
27      First Class
28      Third Class
29      Third Class
           ...
861    Second Class
862     First Class
863     Third Class
864    Second Class
865    Second Class
866    Second Class
867     First Class
868     Third Class
869     Third Class
870     Third Class
871     First Class
872     First Class
873     Third Class
874    Second Class
875     Third Class
876     Third Class
877     Third Class
878     Third Class
879     First Class
880    Second Class
881     Third Class
882     Third Class
883    Second Class
884     Third Class
885     Third Class
886    Second Class
887     First Class
888     Third Class
889     First Class
890     Third Class
Length: 891, dtype: object

#### 将Survived的数据01转换成状态字符

In [149]:
# print(titanic_survival[["Survived", "Pclass"]])

In [148]:
def which_class(row):
    # 取出PassengerId、Survived数据
    survived = row["Survived"]
    if pd.isnull(survived):
        return "Unknown"
    elif survived == 0:
        return "Dead"
    elif survived == 1:
        return "Alive"

classes = titanic_survival.apply(which_class, axis=1)
print(classes)

0       Dead
1      Alive
2      Alive
3      Alive
4       Dead
5       Dead
6       Dead
7       Dead
8      Alive
9      Alive
10     Alive
11     Alive
12      Dead
13      Dead
14      Dead
15     Alive
16      Dead
17     Alive
18      Dead
19     Alive
20      Dead
21     Alive
22     Alive
23     Alive
24      Dead
25     Alive
26      Dead
27      Dead
28     Alive
29      Dead
       ...
861     Dead
862    Alive
863     Dead
864     Dead
865    Alive
866    Alive
867     Dead
868     Dead
869    Alive
870     Dead
871    Alive
872     Dead
873     Dead
874    Alive
875    Alive
876     Dead
877     Dead
878     Dead
879    Alive
880    Alive
881     Dead
882     Dead
883     Dead
884     Dead
885     Dead
886     Dead
887    Alive
888     Dead
889    Alive
890     Dead
Length: 891, dtype: object

#### 连续值离散化——生成年龄标签
判断乘客是成年人还是未成年人

In [152]:
def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return "unknown"
    elif age < 18:
        return "minor"
    else:
        return "adult"

age_labels = titanic_survival.apply(generate_age_label, axis=1)
print(age_labels)

0        adult
1        adult
2        adult
3        adult
4        adult
5      unknown
6        adult
7        minor
8        adult
9        minor
10       minor
11       adult
12       adult
13       adult
14       minor
15       adult
16       minor
17     unknown
18       adult
19     unknown
20       adult
21       adult
22       minor
23       adult
24       minor
25       adult
26     unknown
27       adult
28     unknown
29     unknown
        ...
861      adult
862      adult
863    unknown
864      adult
865      adult
866      adult
867      adult
868    unknown
869      minor
870      adult
871      adult
872      adult
873      adult
874      adult
875      minor
876      adult
877      adult
878    unknown
879      adult
880      adult
881      adult
882      adult
883      adult
884      adult
885      adult
886      adult
887      adult
888    unknown
889      adult
890      adult
Length: 891, dtype: object

* 统计乘客获救与年龄的关系

In [153]:
titanic_survival["age_labels"] = age_labels
age_group_survival = titanic_survival.pivot_table(index="age_labels", values="Survived")
print(age_group_survival)

            Survived
age_labels
adult       0.381032
minor       0.539823
unknown     0.293785

# Series结构
Series是Pandas对另外一个种结构，能对DataFrame进行分解（pandas的一行/一列叫做Series）

In [154]:
import pandas as pd

## 基本认识
* DataFrame
    * Series
        * ndarry
        
### 查看Series类型

In [163]:
fandango = pd.read_csv('fandango_score_comparison.csv')
series_film = fandango['FILM']
print(type(series_film))

series_rt = fandango['RottenTomatoes']

<class 'pandas.core.series.Series'>

### 提取Series一列的一个片段

In [156]:
print(series_film[0:5])

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

## 定义一个Series

In [175]:
from pandas import Series

# 从pandas中取两个字段的值出来
film_names = series_film.values
print(type(film_names))

rt_scores = series_rt.values

# 定义Series：以film_names为指针，rt_scores为内容
series_custom = Series(rt_scores, index=film_names)

# 显示Series中指定想看的两个电影的评分：用字符串当索引（之前当索引是数值）
series_custom[['Minions (2015)', 'Leviathan (2014)']]

print('\n')
# 查看Series中当一个片段
five_ten = series_custom[5:10]
print(five_ten)

<class 'numpy.ndarray'>


The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64

## Series的排序
### 对Series进行排序
很少使用：因为很少对Series直接处理

In [183]:
original_index = series_custom.index.tolist()

# 查看tolist()后的类型
print(type(series_custom))
print(type(original_index))

print('\n')
# 查看Series的索引
# print(series_custom.index)

print('\n')
# 查看tolist()后的数据
# print(original_index)

print('\n')
# 将original_index重新排序，作为索引（转换成list再使用sorted()重新排序）
sorted_index = sorted(original_index)
# print(sorted_index)

print('\n')
# 将上面重新排序的索引，作为series_custom排序的依据（使用.reindex()重新排序）
sorted_by_index = series_custom.reindex(sorted_index)
print(sorted_by_index)

<class 'pandas.core.series.Series'>
<class 'list'>








'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
Length: 146, dtype: int64

### 对Series按照键/值进行排序

In [188]:
sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()

# 按照键排序
print(sc2[0:10])

# 按照值大小排序
print('\n')
print(sc3[0:10])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64


Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Series的操作

### 将两个Series相加
两个维度相同的Series可以直接对应位置相加  
维度不相同，则分别相加？？？

In [189]:
# print(series_custom)
print(np.add(series_custom, series_custom))

Avengers: Age of Ultron (2015)                    148
Cinderella (2015)                                 170
Ant-Man (2015)                                    160
Do You Believe? (2015)                             36
Hot Tub Time Machine 2 (2015)                      28
The Water Diviner (2015)                          126
Irrational Man (2015)                              84
Top Five (2014)                                   172
Shaun the Sheep Movie (2015)                      198
Love & Mercy (2015)                               178
Far From The Madding Crowd (2015)                 168
Black Sea (2015)                                  164
Leviathan (2014)                                  198
Unbroken (2014)                                   102
The Imitation Game (2014)                         180
Taken 3 (2015)                                     18
Ted 2 (2015)                                       92
Southpaw (2015)                                   118
Night at the Museum: Secret of the Tomb (2014)    100
Pixels (2015)                                      34
McFarland, USA (2015)                             158
Insidious: Chapter 3 (2015)                       118
The Man From U.N.C.L.E. (2015)                    136
Run All Night (2015)                              120
Trainwreck (2015)                                 170
Selma (2014)                                      198
Ex Machina (2015)                                 184
Still Alice (2015)                                176
Wild Tales (2014)                                 192
The End of the Tour (2015)                        184
                                                 ...
Clouds of Sils Maria (2015)                       178
Testament of Youth (2015)                         162
Infinitely Polar Bear (2015)                      160
Phoenix (2015)                                    198
The Wolfpack (2015)                               168
The Stanford Prison Experiment (2015)             168
Tangerine (2015)                                  190
Magic Mike XXL (2015)                             124
Home (2015)                                        90
The Wedding Ringer (2015)                          54
Woman in Gold (2015)                              104
The Last Five Years (2015)                        120
Mission: Impossible â€“ Rogue Nation (2015)       184
Amy (2015)                                        194
Jurassic World (2015)                             142
Minions (2015)                                    108
Max (2015)                                         70
Paul Blart: Mall Cop 2 (2015)                      10
The Longest Ride (2015)                            62
The Lazarus Effect (2015)                          28
The Woman In Black 2 Angel of Death (2015)         44
Danny Collins (2015)                              154
Spare Parts (2015)                                104
Serena (2015)                                      36
Inside Out (2015)                                 196
Mr. Holmes (2015)                                 174
'71 (2015)                                        194
Two Days, One Night (2014)                        194
Gett: The Trial of Viviane Amsalem (2015)         200
Kumiko, The Treasure Hunter (2015)                174
Length: 146, dtype: int64

### 对Series的values进行正弦变换

In [195]:
print(np.sin(series_custom))

# 求series的最大值
print(np.max(series_custom))

100

### 数据中寻找指定范围的数值

#### 寻找评分>50的数据

In [196]:
series_greater_than_50 = series_custom[series_custom > 50]
print(series_greater_than_50)

Avengers: Age of Ultron (2015)                                             74
Cinderella (2015)                                                          85
Ant-Man (2015)                                                             80
The Water Diviner (2015)                                                   63
Top Five (2014)                                                            86
Shaun the Sheep Movie (2015)                                               99
Love & Mercy (2015)                                                        89
Far From The Madding Crowd (2015)                                          84
Black Sea (2015)                                                           82
Leviathan (2014)                                                           99
Unbroken (2014)                                                            51
The Imitation Game (2014)                                                  90
Southpaw (2015)                                                            59
McFarland, USA (2015)                                                      79
Insidious: Chapter 3 (2015)                                                59
The Man From U.N.C.L.E. (2015)                                             68
Run All Night (2015)                                                       60
Trainwreck (2015)                                                          85
Selma (2014)                                                               99
Ex Machina (2015)                                                          92
Still Alice (2015)                                                         88
Wild Tales (2014)                                                          96
The End of the Tour (2015)                                                 92
Red Army (2015)                                                            96
When Marnie Was There (2015)                                               89
The Hunting Ground (2015)                                                  92
5 Flights Up (2015)                                                        52
Welcome to Me (2015)                                                       71
Saint Laurent (2015)                                                       51
Maps to the Stars (2015)                                                   60
                                                                         ...
The Second Best Exotic Marigold Hotel (2015)                               62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)     67
Escobar: Paradise Lost (2015)                                              52
Into the Woods (2014)                                                      71
It Follows (2015)                                                          96
Inherent Vice (2014)                                                       73
A Most Violent Year (2014)                                                 90
While We're Young (2015)                                                   83
Clouds of Sils Maria (2015)                                                89
Testament of Youth (2015)                                                  81
Infinitely Polar Bear (2015)                                               80
Phoenix (2015)                                                             99
The Wolfpack (2015)                                                        84
The Stanford Prison Experiment (2015)                                      84
Tangerine (2015)                                                           95
Magic Mike XXL (2015)                                                      62
Woman in Gold (2015)                                                       52
The Last Five Years (2015)                                                 60
Mission: Impossible â€“ Rogue Nation (2015)                                92
Amy (2015)                                                                 97
Jurassic World (2015)                                                      71
Minions (2015)                                                             54
Danny Collins (2015)                                                       77
Spare Parts (2015)                                                         52
Inside Out (2015)                                                          98
Mr. Holmes (2015)                                                          87
'71 (2015)                                                                 97
Two Days, One Night (2014)                                                 97
Gett: The Trial of Viviane Amsalem (2015)                                 100
Kumiko, The Treasure Hunter (2015)                                         87
Length: 94, dtype: int64

#### 寻找评分在(50, 75)的数据

In [198]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75
both_criteria = series_custom[criteria_one & criteria_two]
print(both_criteria)

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

### 对Series数据进行求均值
同维度的数据进行求均值（e.g.不同的评分系统求均值）

In [199]:
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])
rt_mean = (rt_critics + rt_users)/2

print(rt_mean)

FILM
Avengers: Age of Ultron (2015)                    80.0
Cinderella (2015)                                 82.5
Ant-Man (2015)                                    85.0
Do You Believe? (2015)                            51.0
Hot Tub Time Machine 2 (2015)                     21.0
The Water Diviner (2015)                          62.5
Irrational Man (2015)                             47.5
Top Five (2014)                                   75.0
Shaun the Sheep Movie (2015)                      90.5
Love & Mercy (2015)                               88.0
Far From The Madding Crowd (2015)                 80.5
Black Sea (2015)                                  71.0
Leviathan (2014)                                  89.0
Unbroken (2014)                                   60.5
The Imitation Game (2014)                         91.0
Taken 3 (2015)                                    27.5
Ted 2 (2015)                                      52.0
Southpaw (2015)                                   69.5
Night at the Museum: Secret of the Tomb (2014)    54.0
Pixels (2015)                                     35.5
McFarland, USA (2015)                             84.0
Insidious: Chapter 3 (2015)                       57.5
The Man From U.N.C.L.E. (2015)                    74.0
Run All Night (2015)                              59.5
Trainwreck (2015)                                 79.5
Selma (2014)                                      92.5
Ex Machina (2015)                                 89.0
Still Alice (2015)                                86.5
Wild Tales (2014)                                 94.0
The End of the Tour (2015)                        90.5
                                                  ...
Clouds of Sils Maria (2015)                       78.0
Testament of Youth (2015)                         80.0
Infinitely Polar Bear (2015)                      78.0
Phoenix (2015)                                    90.0
The Wolfpack (2015)                               78.5
The Stanford Prison Experiment (2015)             85.5
Tangerine (2015)                                  90.5
Magic Mike XXL (2015)                             63.0
Home (2015)                                       55.0
The Wedding Ringer (2015)                         46.5
Woman in Gold (2015)                              66.5
The Last Five Years (2015)                        60.0
Mission: Impossible â€“ Rogue Nation (2015)       91.0
Amy (2015)                                        94.0
Jurassic World (2015)                             76.0
Minions (2015)                                    53.0
Max (2015)                                        54.0
Paul Blart: Mall Cop 2 (2015)                     20.5
The Longest Ride (2015)                           52.0
The Lazarus Effect (2015)                         18.5
The Woman In Black 2 Angel of Death (2015)        23.5
Danny Collins (2015)                              76.0
Spare Parts (2015)                                67.5
Serena (2015)                                     21.5
Inside Out (2015)                                 94.0
Mr. Holmes (2015)                                 82.5
'71 (2015)                                        89.5
Two Days, One Night (2014)                        87.5
Gett: The Trial of Viviane Amsalem (2015)         90.5
Kumiko, The Treasure Hunter (2015)                75.0
Length: 146, dtype: float64

## 使用DataFrame指定索引

In [205]:
# 将FILM作为索引
fandango_films = fandango.set_index('FILM', drop=False)
print(fandango_films.index)

Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)

### 将String值进行索引
除此之外，用数值作为索引依旧有用

In [209]:
fandango_films["Avengers: Age of Ultron (2015)":"Hot Tub Time Machine 2 (2015)"]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Avengers: Age of Ultron (2015),Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
Cinderella (2015),Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
Ant-Man (2015),Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
Do You Believe? (2015),Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
Hot Tub Time Machine 2 (2015),Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [208]:
# 两种方式没有什么区别
fandango_films.loc["Avengers: Age of Ultron (2015)":"Hot Tub Time Machine 2 (2015)"]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
Avengers: Age of Ultron (2015),Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
Cinderella (2015),Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
Ant-Man (2015),Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
Do You Believe? (2015),Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
Hot Tub Time Machine 2 (2015),Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

### 定位到某个数值

In [210]:
fandango_films.loc["Kumiko, The Treasure Hunter (2015)"]

FILM                          Kumiko, The Treasure Hunter (2015)
RottenTomatoes                                                87
RottenTomatoes_User                                           63
Metacritic                                                    68
Metacritic_User                                              6.4
IMDB                                                         6.7
Fandango_Stars                                               3.5
Fandango_Ratingvalue                                         3.5
RT_norm                                                     4.35
RT_user_norm                                                3.15
Metacritic_norm                                              3.4
Metacritic_user_nom                                          3.2
IMDB_norm                                                   3.35
RT_norm_round                                                4.5
RT_user_norm_round                                             3
Metacritic_norm_round                                        3.5
Metacritic_user_norm_round                                     3
IMDB_norm_round                                              3.5
Metacritic_user_vote_count                                    19
IMDB_user_vote_count                                        5289
Fandango_votes                                                41
Fandango_Difference                                            0
Name: Kumiko, The Treasure Hunter (2015), dtype: object

### 提取Series字段为浮点型的数值

In [220]:
types = fandango_films.dtypes
print(types)

print('\n')
float_columns = types[types.values == 'float64'].index
# print(float_columns)

float_df = fandango_films[float_columns]
print(float_df)

FILM                           object
RottenTomatoes                  int64
RottenTomatoes_User             int64
Metacritic                      int64
Metacritic_User               float64
IMDB                          float64
Fandango_Stars                float64
Fandango_Ratingvalue          float64
RT_norm                       float64
RT_user_norm                  float64
Metacritic_norm               float64
Metacritic_user_nom           float64
IMDB_norm                     float64
RT_norm_round                 float64
RT_user_norm_round            float64
Metacritic_norm_round         float64
Metacritic_user_norm_round    float64
IMDB_norm_round               float64
Metacritic_user_vote_count      int64
IMDB_user_vote_count            int64
Fandango_votes                  int64
Fandango_Difference           float64
dtype: object


                                                Metacritic_User  IMDB  \
FILM
Avengers: Age of Ultron (2015)                              7.1   7.8
Cinderella (2015)                                           7.5   7.1
Ant-Man (2015)                                              8.1   7.8
Do You Believe? (2015)                                      4.7   5.4
Hot Tub Time Machine 2 (2015)                               3.4   5.1
The Water Diviner (2015)                                    6.8   7.2
Irrational Man (2015)                                       7.6   6.9
Top Five (2014)                                             6.8   6.5
Shaun the Sheep Movie (2015)                                8.8   7.4
Love & Mercy (2015)                                         8.5   7.8
Far From The Madding Crowd (2015)                           7.5   7.2
Black Sea (2015)                                            6.6   6.4
Leviathan (2014)                                            7.2   7.7
Unbroken (2014)                                             6.5   7.2
The Imitation Game (2014)                                   8.2   8.1
Taken 3 (2015)                                              4.6   6.1
Ted 2 (2015)                                                6.5   6.6
Southpaw (2015)                                             8.2   7.8
Night at the Museum: Secret of the Tomb (2014)              5.8   6.3
Pixels (2015)                                               5.3   5.6
McFarland, USA (2015)                                       7.2   7.5
Insidious: Chapter 3 (2015)                                 6.9   6.3
The Man From U.N.C.L.E. (2015)                              7.9   7.6
Run All Night (2015)                                        7.3   6.6
Trainwreck (2015)                                           6.0   6.7
Selma (2014)                                                7.1   7.5
Ex Machina (2015)                                           7.9   7.7
Still Alice (2015)                                          7.8   7.5
Wild Tales (2014)                                           8.8   8.2
The End of the Tour (2015)                                  7.5   7.9
...                                                         ...   ...
Clouds of Sils Maria (2015)                                 7.1   6.8
Testament of Youth (2015)                                   7.9   7.3
Infinitely Polar Bear (2015)                                7.9   7.2
Phoenix (2015)                                              8.0   7.2
The Wolfpack (2015)                                         7.0   7.1
The Stanford Prison Experiment (2015)                       8.5   7.1
Tangerine (2015)                                            7.3   7.4
Magic Mike XXL (2015)                                       5.4   6.3
Home (2015)                                                 7.3   6.7
The Wedding Ringer (2015)                                   3.3   6.7
Woman in Gold (2015)                                        7.2   7.4
The Last Five Years (2015)                                  6.9   6.0
Mission: Impossible â€“ Rogue Nation (2015)                 8.0   7.8
Amy (2015)                                                  8.8   8.0
Jurassic World (2015)                                       7.0   7.3
Minions (2015)                                              5.7   6.7
Max (2015)                                                  5.9   7.0
Paul Blart: Mall Cop 2 (2015)                               2.4   4.3
The Longest Ride (2015)                                     4.8   7.2
The Lazarus Effect (2015)                                   4.9   5.2
The Woman In Black 2 Angel of Death (2015)                  4.4   4.9
Danny Collins (2015)                                        7.1   7.1
Spare Parts (2015)                                          7.1   7.2
Serena (2015)                                               5.3   5.4
Inside Out (2015)                                           8.9   8.6
Mr. Holmes (2015)                                           7.9   7.4
'71 (2015)                                                  7.5   7.2
Two Days, One Night (2014)                                  8.8   7.4
Gett: The Trial of Viviane Amsalem (2015)                   7.3   7.8
Kumiko, The Treasure Hunter (2015)                          6.4   6.7

                                                Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)                             5.0
Cinderella (2015)                                          5.0
Ant-Man (2015)                                             5.0
Do You Believe? (2015)                                     5.0
Hot Tub Time Machine 2 (2015)                              3.5
The Water Diviner (2015)                                   4.5
Irrational Man (2015)                                      4.0
Top Five (2014)                                            4.0
Shaun the Sheep Movie (2015)                               4.5
Love & Mercy (2015)                                        4.5
Far From The Madding Crowd (2015)                          4.5
Black Sea (2015)                                           4.0
Leviathan (2014)                                           4.0
Unbroken (2014)                                            4.5
The Imitation Game (2014)                                  5.0
Taken 3 (2015)                                             4.5
Ted 2 (2015)                                               4.5
Southpaw (2015)                                            5.0
Night at the Museum: Secret of the Tomb (2014)             4.5
Pixels (2015)                                              4.5
McFarland, USA (2015)                                      5.0
Insidious: Chapter 3 (2015)                                4.5
The Man From U.N.C.L.E. (2015)                             4.5
Run All Night (2015)                                       4.5
Trainwreck (2015)                                          4.5
Selma (2014)                                               5.0
Ex Machina (2015)                                          4.5
Still Alice (2015)                                         4.5
Wild Tales (2014)                                          4.5
The End of the Tour (2015)                                 4.5
...                                                        ...
Clouds of Sils Maria (2015)                                3.5
Testament of Youth (2015)                                  4.0
Infinitely Polar Bear (2015)                               4.0
Phoenix (2015)                                             3.5
The Wolfpack (2015)                                        3.5
The Stanford Prison Experiment (2015)                      4.0
Tangerine (2015)                                           4.0
Magic Mike XXL (2015)                                      4.5
Home (2015)                                                4.5
The Wedding Ringer (2015)                                  4.5
Woman in Gold (2015)                                       4.5
The Last Five Years (2015)                                 4.5
Mission: Impossible â€“ Rogue Nation (2015)                4.5
Amy (2015)                                                 4.5
Jurassic World (2015)                                      4.5
Minions (2015)                                             4.0
Max (2015)                                                 4.5
Paul Blart: Mall Cop 2 (2015)                              3.5
The Longest Ride (2015)                                    4.5
The Lazarus Effect (2015)                                  3.0
The Woman In Black 2 Angel of Death (2015)                 3.0
Danny Collins (2015)                                       4.0
Spare Parts (2015)                                         4.5
Serena (2015)                                              3.0
Inside Out (2015)                                          4.5
Mr. Holmes (2015)                                          4.0
'71 (2015)                                                 3.5
Two Days, One Night (2014)                                 3.5
Gett: The Trial of Viviane Amsalem (2015)                  3.5
Kumiko, The Treasure Hunter (2015)                         3.5

                                                Fandango_Ratingvalue  RT_norm  \
FILM
Avengers: Age of Ultron (2015)                                   4.5     3.70
Cinderella (2015)                                                4.5     4.25
Ant-Man (2015)                                                   4.5     4.00
Do You Believe? (2015)                                           4.5     0.90
Hot Tub Time Machine 2 (2015)                                    3.0     0.70
The Water Diviner (2015)                                         4.0     3.15
Irrational Man (2015)                                            3.5     2.10
Top Five (2014)                                                  3.5     4.30
Shaun the Sheep Movie (2015)                                     4.0     4.95
Love & Mercy (2015)                                              4.0     4.45
Far From The Madding Crowd (2015)                                4.0     4.20
Black Sea (2015)                                                 3.5     4.10
Leviathan (2014)                                                 3.5     4.95
Unbroken (2014)                                                  4.1     2.55
The Imitation Game (2014)                                        4.6     4.50
Taken 3 (2015)                                                   4.1     0.45
Ted 2 (2015)                                                     4.1     2.30
Southpaw (2015)                                                  4.6     2.95
Night at the Museum: Secret of the Tomb (2014)                   4.1     2.50
Pixels (2015)                                                    4.1     0.85
McFarland, USA (2015)                                            4.6     3.95
Insidious: Chapter 3 (2015)                                      4.1     2.95
The Man From U.N.C.L.E. (2015)                                   4.1     3.40
Run All Night (2015)                                             4.1     3.00
Trainwreck (2015)                                                4.1     4.25
Selma (2014)                                                     4.6     4.95
Ex Machina (2015)                                                4.1     4.60
Still Alice (2015)                                               4.1     4.40
Wild Tales (2014)                                                4.1     4.80
The End of the Tour (2015)                                       4.1     4.60
...                                                              ...      ...
Clouds of Sils Maria (2015)                                      3.4     4.45
Testament of Youth (2015)                                        3.9     4.05
Infinitely Polar Bear (2015)                                     3.9     4.00
Phoenix (2015)                                                   3.4     4.95
The Wolfpack (2015)                                              3.4     4.20
The Stanford Prison Experiment (2015)                            3.9     4.20
Tangerine (2015)                                                 3.9     4.75
Magic Mike XXL (2015)                                            4.4     3.10
Home (2015)                                                      4.4     2.25
The Wedding Ringer (2015)                                        4.4     1.35
Woman in Gold (2015)                                             4.4     2.60
The Last Five Years (2015)                                       4.4     3.00
Mission: Impossible â€“ Rogue Nation (2015)                      4.4     4.60
Amy (2015)                                                       4.4     4.85
Jurassic World (2015)                                            4.5     3.55
Minions (2015)                                                   4.0     2.70
Max (2015)                                                       4.5     1.75
Paul Blart: Mall Cop 2 (2015)                                    3.5     0.25
The Longest Ride (2015)                                          4.5     1.55
The Lazarus Effect (2015)                                        3.0     0.70
The Woman In Black 2 Angel of Death (2015)                       3.0     1.10
Danny Collins (2015)                                             4.0     3.85
Spare Parts (2015)                                               4.5     2.60
Serena (2015)                                                    3.0     0.90
Inside Out (2015)                                                4.5     4.90
Mr. Holmes (2015)                                                4.0     4.35
'71 (2015)                                                       3.5     4.85
Two Days, One Night (2014)                                       3.5     4.85
Gett: The Trial of Viviane Amsalem (2015)                        3.5     5.00
Kumiko, The Treasure Hunter (2015)                               3.5     4.35

                                                RT_user_norm  Metacritic_norm  \
FILM
Avengers: Age of Ultron (2015)                          4.30             3.30
Cinderella (2015)                                       4.00             3.35
Ant-Man (2015)                                          4.50             3.20
Do You Believe? (2015)                                  4.20             1.10
Hot Tub Time Machine 2 (2015)                           1.40             1.45
The Water Diviner (2015)                                3.10             2.50
Irrational Man (2015)                                   2.65             2.65
Top Five (2014)                                         3.20             4.05
Shaun the Sheep Movie (2015)                            4.10             4.05
Love & Mercy (2015)                                     4.35             4.00
Far From The Madding Crowd (2015)                       3.85             3.55
Black Sea (2015)                                        3.00             3.10
Leviathan (2014)                                        3.95             4.60
Unbroken (2014)                                         3.50             2.95
The Imitation Game (2014)                               4.60             3.65
Taken 3 (2015)                                          2.30             1.30
Ted 2 (2015)                                            2.90             2.40
Southpaw (2015)                                         4.00             2.85
Night at the Museum: Secret of the Tomb (2014)          2.90             2.35
Pixels (2015)                                           2.70             1.35
McFarland, USA (2015)                                   4.45             3.00
Insidious: Chapter 3 (2015)                             2.80             2.60
The Man From U.N.C.L.E. (2015)                          4.00             2.75
Run All Night (2015)                                    2.95             2.95
Trainwreck (2015)                                       3.70             3.75
Selma (2014)                                            4.30             4.45
Ex Machina (2015)                                       4.30             3.90
Still Alice (2015)                                      4.25             3.60
Wild Tales (2014)                                       4.60             3.85
The End of the Tour (2015)                              4.45             4.20
...                                                      ...              ...
Clouds of Sils Maria (2015)                             3.35             3.90
Testament of Youth (2015)                               3.95             3.85
Infinitely Polar Bear (2015)                            3.80             3.20
Phoenix (2015)                                          4.05             4.55
The Wolfpack (2015)                                     3.65             3.75
The Stanford Prison Experiment (2015)                   4.35             3.40
Tangerine (2015)                                        4.30             4.30
Magic Mike XXL (2015)                                   3.20             3.00
Home (2015)                                             3.25             2.75
The Wedding Ringer (2015)                               3.30             1.75
Woman in Gold (2015)                                    4.05             2.55
The Last Five Years (2015)                              3.00             3.00
Mission: Impossible â€“ Rogue Nation (2015)             4.50             3.75
Amy (2015)                                              4.55             4.25
Jurassic World (2015)                                   4.05             2.95
Minions (2015)                                          2.60             2.80
Max (2015)                                              3.65             2.35
Paul Blart: Mall Cop 2 (2015)                           1.80             0.65
The Longest Ride (2015)                                 3.65             1.65
The Lazarus Effect (2015)                               1.15             1.55
The Woman In Black 2 Angel of Death (2015)              1.25             2.10
Danny Collins (2015)                                    3.75             2.90
Spare Parts (2015)                                      4.15             2.50
Serena (2015)                                           1.25             1.80
Inside Out (2015)                                       4.50             4.70
Mr. Holmes (2015)                                       3.90             3.35
'71 (2015)                                              4.10             4.15
Two Days, One Night (2014)                              3.90             4.45
Gett: The Trial of Viviane Amsalem (2015)               4.05             4.50
Kumiko, The Treasure Hunter (2015)                      3.15             3.40

                                                Metacritic_user_nom  \
FILM
Avengers: Age of Ultron (2015)                                 3.55
Cinderella (2015)                                              3.75
Ant-Man (2015)                                                 4.05
Do You Believe? (2015)                                         2.35
Hot Tub Time Machine 2 (2015)                                  1.70
The Water Diviner (2015)                                       3.40
Irrational Man (2015)                                          3.80
Top Five (2014)                                                3.40
Shaun the Sheep Movie (2015)                                   4.40
Love & Mercy (2015)                                            4.25
Far From The Madding Crowd (2015)                              3.75
Black Sea (2015)                                               3.30
Leviathan (2014)                                               3.60
Unbroken (2014)                                                3.25
The Imitation Game (2014)                                      4.10
Taken 3 (2015)                                                 2.30

### 匿名函数lambda
功能：可以直接使用`.apply()`调用该函数，无需定义即可使用  
https://blog.csdn.net/zjuxsl/article/details/79437563

**打印每行的标准差std**

In [221]:
rt_mt_user = float_df[['RT_user_norm', 'Metacritic_user_nom']]
rt_mt_user.apply(lambda x: np.std(x), axis=1)

FILM
Avengers: Age of Ultron (2015)                    0.375
Cinderella (2015)                                 0.125
Ant-Man (2015)                                    0.225
Do You Believe? (2015)                            0.925
Hot Tub Time Machine 2 (2015)                     0.150
The Water Diviner (2015)                          0.150
Irrational Man (2015)                             0.575
Top Five (2014)                                   0.100
Shaun the Sheep Movie (2015)                      0.150
Love & Mercy (2015)                               0.050
Far From The Madding Crowd (2015)                 0.050
Black Sea (2015)                                  0.150
Leviathan (2014)                                  0.175
Unbroken (2014)                                   0.125
The Imitation Game (2014)                         0.250
Taken 3 (2015)                                    0.000
Ted 2 (2015)                                      0.175
Southpaw (2015)                                   0.050
Night at the Museum: Secret of the Tomb (2014)    0.000
Pixels (2015)                                     0.025
McFarland, USA (2015)                             0.425
Insidious: Chapter 3 (2015)                       0.325
The Man From U.N.C.L.E. (2015)                    0.025
Run All Night (2015)                              0.350
Trainwreck (2015)                                 0.350
Selma (2014)                                      0.375
Ex Machina (2015)                                 0.175
Still Alice (2015)                                0.175
Wild Tales (2014)                                 0.100
The End of the Tour (2015)                        0.350
                                                  ...
Clouds of Sils Maria (2015)                       0.100
Testament of Youth (2015)                         0.000
Infinitely Polar Bear (2015)                      0.075
Phoenix (2015)                                    0.025
The Wolfpack (2015)                               0.075
The Stanford Prison Experiment (2015)             0.050
Tangerine (2015)                                  0.325
Magic Mike XXL (2015)                             0.250
Home (2015)                                       0.200
The Wedding Ringer (2015)                         0.825
Woman in Gold (2015)                              0.225
The Last Five Years (2015)                        0.225
Mission: Impossible â€“ Rogue Nation (2015)       0.250
Amy (2015)                                        0.075
Jurassic World (2015)                             0.275
Minions (2015)                                    0.125
Max (2015)                                        0.350
Paul Blart: Mall Cop 2 (2015)                     0.300
The Longest Ride (2015)                           0.625
The Lazarus Effect (2015)                         0.650
The Woman In Black 2 Angel of Death (2015)        0.475
Danny Collins (2015)                              0.100
Spare Parts (2015)                                0.300
Serena (2015)                                     0.700
Inside Out (2015)                                 0.025
Mr. Holmes (2015)                                 0.025
'71 (2015)                                        0.175
Two Days, One Night (2014)                        0.250
Gett: The Trial of Viviane Amsalem (2015)         0.200
Kumiko, The Treasure Hunter (2015)                0.025
Length: 146, dtype: float64